.heading {
    margin: 2rem;
    color: red;
}

.container {
    margin: 2rem;
}

.btn1 {
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}

.btn1:hover {
    background-color: blue;
}